.tax-result__box{
    display: flex;
    flex-direction: column;
}

.tax-steps{
    margin: 0 0 44px 0;
    display: flex;
    width: 100%;
    padding: 8px 0;
    border: 2px solid var(--light-gray);
    flex-direction: column;
    border-left: 0;
    border-right: 0;
    /* background-color: var(--light-gray); */
}

.tax-steps__head{
    display: flex;
    align-items: center;
}

.tax-steps__header{
    font-size: 20px;
    font-weight: 700;
}

.tax-steps .cta{
    margin-left: 20px;
    padding: 2px 32px;
}