#choose-tax-path{
    padding: 68px 0;
}

.choose-tax-path__box{
    margin: 34px auto 0 auto;
    max-width: 520px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-items: center;
}

.choose-tax-path__box .card--small {
    width: 100%;
}

.choose-tax-path__box .card:not(:last-child) {
    margin: 0;
}

@media screen and (max-width: 500px) {
    .choose-tax-path__box{
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-tax-path__box .card--small {
        width: 90%;
    }
}
