#forgot-password{
    padding: 68px 0;
}

.forgot-password__box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 100%;
}

.forgot-password__header{
    font-size: 28px;
}

.forgot-password__box .input__field{
    margin-top: 4px;
    width: 100%;
}

.forgot-password__box .input__label{
    margin-top: 16px;
}

.forgot-password__box .cta{
    margin-top: 24px;
}

.forgot-password__box .redirection__link {
    margin-top: 40px;
}