#login{
    padding: 68px 0 24px;
}

.login__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__header{
    font-size: 28px;
}

.login__box .text{
    margin-top: 12px;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
}

.login__form .cta{
    margin-top: 24px;
}

.login__form .input__field{
    margin-top: 4px;
    width: 100%;
}

.login__form .input__label{
    margin-top: 16px;
}

.login__form .redirection__link{
    align-self: flex-start;
}

@media screen and (max-width: 768px) {
    .login__box .text{
        text-align: center;
    }
}