.tax-input__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 12px 0;
}

.tax-input__label{
    font-size: 16px;
    font-weight: 500;
}

.tax-input{
    margin-top: 4px;
    font-size: 16px;
    border: 2px solid var(--light-gray2);
    border-radius: 4px;
    padding: 4px 16px;
    transition: all 300ms ease;
    width: 100%;
}

.tax-input:hover {
    border-color: var(--black);
}

.tax-input::-webkit-outer-spin-button,
.tax-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tax-input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}