.tax-result{
    display: flex;
    flex-direction: column;
}

.tax__box{
    padding: 6px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 2px solid var(--light-gray);
}

.tax__box:last-child{
    border-bottom: none;
}

.tax__name{
    font-weight: 500;
    font-size: 20px;
}

.tax__value{
    margin-left: 8px;
    font-size: 22px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .tax__name,
    .tax__value{
        font-size: 18px;
    }   
}

@media screen and (max-width: 345px) {
    .tax__name,
    .tax__value{
        font-size: 16px;
    }   
}