#tax-scale{
    margin-bottom: 44px;
    min-height: calc(100vh - 60px - 275px);
}

.tax-scale__box{
    display: flex;
    flex-direction: column;
}

.tax-scale__breaks{
    font-weight: 500;
}

#tax-scale .cta{
    margin-top: 12px;
}