.switch__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 12px 0;
}

.switch__label{
    font-size: 16px;
    font-weight: 500;
}

.switch {
    margin-top: 4px;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
  }
  
  .switch .switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    /* content: "\0058"; */
    font-size: 16px;
    content: "Nie";
    text-align: center;
    height: 26px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch__checkbox:checked + .slider {
    background-color: var(--green);
  }
  
  .switch__checkbox:focus + .slider {
    box-shadow: 0 0 1px var(--green);
  }
  
  .switch__checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    /* content: "\2713"; */
    content: "Tak";
  }
  
  .slider.round {
    border-radius: 4px;
  }
  
  .slider.round:before {
    border-radius: 4px;
  }

  .employee .switch {
    margin-left: 12px;
    margin-top: 0;
    height: 26px;
  }

  .employee .switch__label {
    font-size: 20px;
  }

  .employee .switch__box{
    flex-direction: row;
    align-items: center;
    margin: 0 0 24px 0;
  }

  .employee .slider:before {
    content: "";
    bottom: 3px;
    height: 20px;
  }

  .employee .switch__checkbox:checked + .slider:before {
    content: "";
  }